// Custom variables

$headings-letter-spacing: 0.025em;
$font-size-md: 1.125rem;

$near-black: #11151A;
$near-white: #f7f7f7;
$brownish: #bdbba6;

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #4163ad;
$indigo:  #17244b;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #6daa79;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Spacing

$spacer: 1rem !default;

// Body

$body-color:                $near-black;

// Links

$link-color:                $blue;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

// Grid columns
//
$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

$transition-base:             all .15s ease-in-out;

// Components

$border-width:                3px;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,800');

$font-family-sans-serif:      "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$font-weight-bold:            800;

$line-height-base:            1.5 !default;

$headings-margin-bottom:      $spacer;
$headings-font-weight:        $font-weight-bold;
$headings-color:              $indigo;

$display1-size:               4.5rem;
$display2-size:               3.5rem;
$display3-size:               1.5rem;

$display1-weight:             $font-weight-bold;

// Buttons + Forms

$input-btn-padding-x:         1.25rem;

$input-btn-padding-x-lg:      1.5rem;

// Buttons

$btn-font-weight:             $font-weight-bold;

// Navbar

$navbar-padding-y:                  0;
$navbar-padding-x:                  $grid-gutter-width / 2;

$nav-link-padding-y:                4 * $spacer;

$navbar-nav-link-padding-x:         $spacer;

$navbar-brand-font-size:            $font-size-lg !default;

$nav-link-height:                   ($font-size-md * $line-height-base + $nav-link-padding-y * 2) !default;
$navbar-brand-padding-y:            2 * $spacer;
$navbar-brand-height:               $nav-link-height - 2 * $navbar-brand-padding-y;

$navbar-toggler-padding-y:          1.5 * $spacer;
$navbar-toggler-padding-x:          1.5 * $spacer;
$navbar-toggler-border-radius:      50%;

$navbar-light-color:                $body-color;
$navbar-light-hover-color:          $link-color;
$navbar-light-active-color:         $link-color;
$navbar-light-toggler-border-color: $navbar-light-color;

// More custom variables

$utility_colors: (
  "blue": $blue,
  "green": $green,
  "indigo": $indigo,
  "light-gray": $gray-100,
);
