@import 'variables';

@import '../../../../../vendor/twbs/bootstrap/scss/functions';
@import '../../../../../vendor/twbs/bootstrap/scss/variables';
@import '../../../../../vendor/twbs/bootstrap/scss/mixins';
@import '../../../../../vendor/twbs/bootstrap/scss/root';
@import '../../../../../vendor/twbs/bootstrap/scss/reboot';
@import '../../../../../vendor/twbs/bootstrap/scss/type';

@import 'components/type';

.cke_editable {
  padding: $spacer / 2;
}

.cke_widget_image,
.cke_widget_image img,
.cke_widget_block img {
  height: auto;
  max-width: 100%;
}
