// Basic theming for Text and Image paragraph style.
.paragraph--type--text-and-image,
.row-wrapper {
  display: flex;
  &.image-on-top {
    flex-direction: column;
    height: 100%;
    .row-wrapper {
      flex-direction: column;
      height: 100%;
    }
    .image-wrapper {
      order: 1;
      flex: unset;
      img {
        width: 100%;
        height: auto;
      }
    }
    .text-wrapper {
      order: 2;
      flex: unset;
    }
  }
  &.image-on-left {
    .row-wrapper {
      @extend .row;
    }
    .image-wrapper {
      order: 1;
      @extend .col-12;
      @extend .col-lg-6;
      img {
        width: 100%;
        height: auto;
      }
    }
    .text-wrapper {
      order: 2;
      @extend .col-12;
      @extend .col-lg-6;
    }
  }
  &.image-on-right {
    .row-wrapper {
      @extend .row;
    }
    .image-wrapper {
      @include media-breakpoint-up(lg) {
        order: 2;
      }
      @extend .col-12;
      @extend .col-lg-6;
      img {
        width: 100%;
        height: auto;
      }
    }
    .text-wrapper {
      @include media-breakpoint-up(lg) {
              order: 1;
      }
      @extend .col-12;
      @extend .col-lg-6;
    }
  }
  &.image-size-third {
    .text-wrapper {
      flex: 1.5;
    }
  }
  .image-wrapper,
  .text-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    .field--name-field-paragraph-image {
      width: 100%;
      .field--name-field-media-image  {
        width: 100%;
      }
    }
  }
}
