$breakpoints: (
  md: 0.9,
  sm: 0.8,
  xs: 0.7
);

$md-coefficient: 0.9;
$sm-coefficient: 0.8;
$xs-coefficient: 0.7;

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  letter-spacing: $headings-letter-spacing;
}

.display-1,
.display-2 {
  letter-spacing: $headings-letter-spacing;
}

@each $key, $coefficient in $breakpoints {
  @include media-breakpoint-only($key) {
    h1, .h1 {
      font-size: $h1-font-size * $coefficient;
    }

    h2, .h2 {
      font-size: $h2-font-size * $coefficient;
    }

    .display-1 {
      font-size: $display1-size * $coefficient;
    }

    .display-2 {
      font-size: $display2-size * $coefficient;
    }
  }
}

@include media-breakpoint-down(sm) {
  .display-3 {
    font-size: $font-size-lg;
  }
}
